.text-gray {
    color: #b7b7b7;
}

.text-gray:hover {
    color: #a19e9e;
}

.text-green {
    color:#8ce898;
}

.text-green:hover {
    color: #83d88e;
}

.text-red {
    color: #fa9f9f;
}

.text-red:hover {
     color: #ff6d6d;
}

.angular-google-map-container {
    height: 400px;
    margin: 30px;
}

/*For Angular UI to work*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.modal-dialog {

    float:left;
}