<form name="forms.deviceForm" novalidate>
    <div class="form-group" ng-repeat="prop in deviceProps" ng-class="{ 'has-error': forms.deviceForm[prop.Name].$touched && forms.deviceForm[prop.Name].$invalid }">
        <label class="form-label"
               data-toggle="tooltip"
               title="{{prop.Tooltip}}">
            {{prop.Label}} <sup><i class="fa fa-info-circle" aria-hidden="true"></i></sup>
        </label>

        <!-- Display dropdown if options != null -->
        <select ng-if="prop.Options !=null && prop.Type!='dynamic' && prop.Name != 'Map'"
                name="{{prop.Name}}"
                class="form-control"
                id="{{prop.Name}}"
                ng-model="prop.Value"
                ng-required="{{prop.Required}}"
                ng-change="updateFromDropdown(prop.Value)">
            <option ng-repeat="opt in prop.Options" value={{opt.Value}} ng-selected="opt.Selected">{{opt.Name}}</option>
        </select>

        <!--Display a textbox if options == null -->
        <input ng-if="prop.Options==null && prop.Type!='dynamic' && prop.Name != 'Map'"
               class="form-control"
               name="{{prop.Name}}"
               id="{{prop.Name}}"
               pattern="{{prop.Pattern}}"
               type="{{prop.Type}}"
               step="any"
               ng-model="prop.Value"
               ng-minlength="{{prop.MinLength}}"
               ng-maxlength="{{prop.MaxLength}}"
               ng-required="{{prop.Required}}">

        <div style="margin-left: 20px;" ng-if="prop.Type=='dynamic' && prop.Name != 'Map'">
            <label class="text-muted" ng-show="currentDeviceType == null"><em>Select a device type from the dropdown.</em></label>
            <div ng-show="currentDeviceType != null">
                <div ng-repeat="param in prop.ParamArray" ng-class="{ 'has-error': forms.deviceForm[param.Name].$touched && forms.deviceForm[param.Name].$invalid }">
                    <label class="form-label">{{param.Name}}</label>
                    <input class="form-control" name="{{param.Name}}" type="{{param.Type}}" ng-model="param.Value" required/>
                    <!-- ngMessages -->
                    <div class="help-block" ng-messages="forms.deviceForm[param.Name].$error" ng-show="forms.deviceForm[param.Name].$touched">
                        <div ng-messages-include="views/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Address input with button on one line -->
        <div class="row" ng-if="prop.Name == 'Map'">
            <div class="col-lg-9">
                <input class="form-control"
                       id="{{prop.Name}}"
                       name="{{prop.Name}}"
                       type="{{prop.Type}}"
                       ng-model="prop.Value"
                       pattern="{{prop.Pattern}}"
                       ng-minlength="{{prop.MinLength}}"
                       ng-maxlength="{{prop.MaxLength}}"
                       ng-required="{{prop.Required}}">
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" style="float:right" ng-click="updateMap('Device')"><i class="fa fa-map-marker" aria-hidden="true"></i> Validate Address</button>
            </div>
        </div>

        <!-- ngMessages -->
        <div class="help-block" ng-messages="forms.deviceForm[prop.Name].$error" ng-show="forms.deviceForm[prop.Name].$touched">
            <div ng-messages-include="views/partials/messages.html"></div>
        </div>
    </div>

    <!-- MAP -->
    <div class="text-center">
        <button class="btn btn-success" ng-disabled="forms.deviceForm.$invalid" ng-click="SaveComponent('device', deviceProps)" data-toggle="tooltip" title="Save Device"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
        <button class="btn btn-danger" ng-click="DeleteComponent('device', deviceProps)" data-toggle="tooltip" title="Delete Device"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
        <button class="btn btn-info" ng-click="ClearForm('device')" data-toggle="tooltip" title="Clear Form"><i class="fa fa-eraser fa-lg" aria-hidden="true"></i></button>
    </div>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
</form>