<form name="forms.deviceTypeForm" novalidate>
    <div class="form-group" ng-repeat="prop in deviceTypeProps" ng-class="{ 'has-error': forms.deviceTypeForm[prop.Name].$touched && forms.deviceTypeForm[prop.Name].$invalid }">
        <label class="form-label"
               data-toggle="tooltip"
               title="{{prop.Tooltip}}">
            {{prop.Label}} <sup><i class="fa fa-info-circle" aria-hidden="true"></i></sup>
        </label>

        <!-- Display dropdown if options != null -->
        <select ng-if="prop.Options !=null && prop.Type!='dynamicList'"
                name="{{prop.Name}}"
                class="form-control"
                id="{{prop.Name}}"
                ng-model="prop.Value"
                ng-required="{{prop.Required}}">
            <option ng-repeat="opt in prop.Options" value={{opt.Value}} ng-selected="opt.Selected">{{opt.Name}}</option>
        </select>

        <!--Display a textbox if options == null -->
        <input ng-if="prop.Options ==null && prop.Type!='dynamicList'"
               class="form-control"
               name="{{prop.Name}}"
               id="{{prop.Name}}"
               pattern="{{prop.Pattern}}"
               type="{{prop.Type}}"
               step="any"
               ng-model="prop.Value"
               ng-minlength="{{prop.MinLength}}"
               ng-maxlength="{{prop.MaxLength}}"
               ng-required="{{prop.Required}}">

        <!-- ngMessages -->
        <div class="help-block" ng-messages="forms.deviceTypeForm[prop.Name].$error" ng-show="forms.deviceTypeForm[prop.Name].$touched">
            <div ng-messages-include="views/partials/messages.html"></div>
        </div>

        <div ng-if="prop.Type=='dynamicList'">

            <!-- Dynamic Device Type Parameters section -->
            <div class="row">
                <div class="col-lg-8 text-center" data-toggle="tooltip" title="The name of the property" style="font-size:12px">Property Name (no spaces) <sup><i class="fa fa-info-circle" aria-hidden="true"></i></sup></div>
                <div class="col-lg-3 text-center" data-toggle="tooltip" title="Used for validation purposes" style="font-size:12px">Data Type <sup><i class="fa fa-info-circle" aria-hidden="true"></i></sup></div>
            </div>
            <div class="row" ng-repeat="param in prop.ParamArray" style="padding-bottom: 10px;">
                <div class="col-lg-8" ng-class="{ 'has-error': forms.deviceTypeForm[param.TagId+'-Name'].$touched && forms.deviceTypeForm[param.TagId+'-Name'].$invalid }">
                    <input class="form-control" id="{{param.TagId}}-Name" name="{{param.TagId}}-Name" ng-model="param.Name"
                           pattern="{{prop.Pattern}}" ng-required="{{prop.Required}}" />
                </div>

                <div class="col-lg-3" ng-class="{ 'has-error': forms.deviceTypeForm[param.TagId+'-Type'].$touched && forms.deviceTypeForm[param.TagId+'-Type'].$invalid }">
                    <select class="form-control" id="{{param.TagId}}-Type" name="{{param.TagId}}-Type" ng-model="param.Type" ng-required="{{prop.Required}}">
                        <option value="text" selected>Text</option>
                        <option value="number">Number</option>
                    </select>
                </div>

                <div class="col-lg-1">
                    <button ng-click="subtractParameterInput('deviceType', param.Id)" style="padding-top:10px;border: none; float:left; background-color: transparent"><i style="cursor:pointer;" tabindex="-1" class="fa fa-minus-circle text-info hoverColor" data-toggle="tooltip" title="Delete Parameter"></i></button>
                </div>
                <!-- ERROR MESSAGES ROW -->
                <div class="col-lg-8" ng-class="{ 'has-error': forms.deviceTypeForm[param.TagId+'-Name'].$touched && forms.deviceTypeForm[param.TagId+'-Name'].$invalid }">
                    <div class="help-block" ng-messages="forms.deviceTypeForm[param.TagId+'-Name'].$error" ng-show="forms.deviceTypeForm[param.TagId+'-Name'].$touched">
                        <div ng-messages-include="views/partials/messages.html"></div>
                    </div>
                </div>
                <div class="col-lg-3" ng-class="{ 'has-error': forms.deviceTypeForm[param.TagId+'-Type'].$touched && forms.deviceTypeForm[param.TagId+'-Type'].$invalid }">
                    <div class="help-block" ng-messages="forms.deviceTypeForm[param.TagId+'-Type'].$error" ng-show="forms.deviceTypeForm[param.TagId+'-Type'].$touched">
                        <div ng-messages-include="views/partials/messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin:10px;">
                <button ng-click="addParameterInput('deviceType')" style="border: none; background-color: transparent"><i style="cursor:pointer;" tabindex="-1" class="fa fa-plus-circle text-info hoverColor" data-toggle="tooltip" title="Add a Parameter"></i></button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success" ng-disabled="forms.deviceTypeForm.$invalid" ng-click="SaveComponent('deviceType', deviceTypeProps)" data-toggle="tooltip" title="Save Device Type"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
        <button class="btn btn-danger" ng-click="DeleteComponent('deviceType', deviceTypeProps)" data-toggle="tooltip" title="Delete Device Type"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
        <button class="btn btn-info" ng-click="ClearForm('deviceType')" data-toggle="tooltip" title="Clear Form"><i class="fa fa-eraser fa-lg" aria-hidden="true"></i></button>
    </div>
</form>