<form name="forms.siteForm" novalidate>
    <div class="form-group" ng-repeat="prop in siteProps" ng-class="{ 'has-error': forms.siteForm[prop.Name].$touched && forms.siteForm[prop.Name].$invalid }">
        <label class="form-label"
               data-toggle="tooltip"
               title="{{prop.Tooltip}}">
            {{prop.Label}} <sup><i class="fa fa-info-circle" aria-hidden="true"></i></sup>
        </label>

        <!-- Display dropdown if options != null -->
        <select ng-if="prop.Options !=null && prop.Name != 'Map'"
                name="{{prop.Name}}"
                class="form-control"
                id="{{prop.Name}}"
                ng-model="prop.Value"
                ng-required="{{prop.Required}}">
            <option ng-repeat="opt in prop.Options" value={{opt.Value}} ng-selected="opt.Selected">{{opt.Name}}</option>
        </select>

        <!--Display a textbox if options == null -->
        <input ng-if="prop.Options ==null && prop.Name != 'Map'"
               class="form-control"
               name="{{prop.Name}}"
               id="{{prop.Name}}"
               type="{{prop.Type}}"
               step="any"
               ng-model="prop.Value"
               pattern="{{prop.Pattern}}"
               ng-minlength="{{prop.MinLength}}"
               ng-maxlength="{{prop.MaxLength}}"
               ng-required="{{prop.Required}}">

        <!-- Address input with button on one line -->
        <div class="row" ng-if="prop.Name == 'Map'">
            <div class="col-lg-9">
                <input class="form-control"
                       id="{{prop.Name}}"
                       name="{{prop.Name}}"
                       type="{{prop.Type}}"
                       ng-model="prop.Value"
                       pattern="{{prop.Pattern}}"
                       ng-minlength="{{prop.MinLength}}"
                       ng-maxlength="{{prop.MaxLength}}"
                       ng-required="{{prop.Required}}">
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" style="float:right" ng-click="updateMap('Site')"><i class="fa fa-map-marker" aria-hidden="true"></i> Validate Address</button>
            </div>
        </div>

        <!-- ngMessages -->
        <div class="help-block" ng-messages="forms.siteForm[prop.Name].$error" ng-show="forms.siteForm[prop.Name].$touched">
            <div ng-messages-include="views/partials/messages.html"></div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success" ng-disabled="forms.siteForm.$invalid" ng-click="SaveComponent('site', siteProps)" data-toggle="tooltip" title="Save Site">
            <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger" ng-click="DeleteComponent('site', siteProps)" data-toggle="tooltip" title="Delete Site">
            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
        </button>
        <button class="btn btn-info" ng-click="ClearForm('site')" data-toggle="tooltip" title="Clear Form">
            <i class="fa fa-eraser fa-lg" aria-hidden="true"></i>
        </button>
    </div>

    <!-- MAP-->
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>

</form>