<!-- About.html -->
<div class="container well">
    <div class="page-header"><h1>About</h1></div>
    <h3>Intro<!--CAM and CPaaS--></h3>
    <ul>
        <li>
            IoT = Internet of Things
            <ul><li>IoT is the future! </li></ul>
        </li>
    </ul>
    <h3>Why do you need this tool?</h3>
    <ul><li>This tool is meant to streamline the process of making mock JSON data for POCs. 20,000+ lines of mock data written in JSON are needed for a single POC, with lots of intertwined references, interdependencies, and many places where it is easy to make one typo and break everything. <em>"Oh, your device has id 2724 but on line 18,234 you wrote 2723? Won't work! Good luck finding that line." </em> This app is meant to help create that JSON without having to actually search-and-replace, scour the big file, and spend hours fixing small typos.</li></ul>

    <div class="page-header"><h1>How to Build a POC</h1></div>
    <h3> This section has been taken out in the public view.</h3>
</div>
